body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3498db;
    text-align: center;
}

div {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #e74c3c;
}

header {
    background-color: #3498db;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}


p, button {
    margin: 10px 0;
}

@media (max-width: 768px) {
    div {
        margin: 10px;
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    header, footer {
        height: 200px;
    }
}
